@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-text header-text">
                    <h6>Takis Care chất lượng dịch vụ tiên phong hàng đầu</h6>
                    <h2>Đặt sân bóng trong vòng 30S</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <form asp-action="Search" class="p-2" method="submit" role="search" id="search-form">
                    <div class="row">
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="city" class="form-select" aria-label="Area" id="chooseCategory">
                                    <option>Tất cả địa điểm</option>
                                    <option selected value="Hồ Chí Minh">Hồ Chí Minh</option>
                                    <option value="Hà Nội">Hà Nội</option>
                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="district" type="text" class="form-control h-auto" id="chooseCategory">
                                    <option value="Quận 1" selected>Quận 1</option>
                                    <option value="Quận 3">Quận 3</option>
                                    <option value="Quận 4">Quận 4</option>
                                    <option value="Quận 5">Quận 5</option>
                                    <option value="Quận 6">Quận 6</option>
                                    <option value="Quận 7">Quận 7</option>
                                    <option value="Quận 8">Quận 8</option>
                                    <option value="Quận 9">Quận 9</option>
                                    <option value="Quận 10">Quận 10</option>
                                    <option value="Quận 11">Quận 11</option>
                                    <option value="Quận 12">Quận 12</option>
                                    <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                                    <option value="Quận Phú Nhuận">Quận Phú Nhuận</option>
                                    <option value="Quận Tân Bình">Quận Tân Bình</option>
                                    <option value="Quận Tân Phú">Quận Tân Phú</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3 align-self-center">
                            <fieldset>
                                <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                                    <option selected>Khoảng giá</option>
                                    <option value="100000 - 250000">100K - 250K</option>
                                    <option value="250000 - 500000">250K - 500K</option>
                                    <option value="500000 - 1000000">500K - 1,000K</option>
                                    <option value="1000000 - ">1,000K or more</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <input type="submit" class="main-button" value="Tìm kiếm">
    
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <ul class="categories">
                    <li><a href="category.html"><span class="icon"><img src="/assets/images/search-icon-01.png" alt="Home"></span> Chất lượng</a></li>
                    <li><a href="listing.html"><span class="icon"><img src="/assets/images/search-icon-02.png" alt="Food"></span> Tiên phong</a></li>
                    <li><a href="#"><span class="icon"><img src="/assets/images/search-icon-03.png" alt="Vehicle"></span> Nhanh nhất</a></li>
                    <li><a href="#"><span class="icon"><img src="/assets/images/search-icon-04.png" alt="Shopping"></span> Tiện lợi</a></li>
                    <li><a href="#"><span class="icon"><img src="/assets/images/search-icon-05.png" alt="Travel"></span> Tối ưu</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("ListPitchComponent")
