
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active fw-bold">Tìm mật khẩu</h2>
        <form asp-action="#" method="post">
            <input type="text" id="login" class="fadeIn second my-3" name="Username" placeholder="Tên đăng nhập">
            <input type="password" id="password" class="fadeIn third my-3" name="Password" placeholder="Mật khẩu" readonly>
            <br />
            <span class="alert-danger">@ViewBag.Error</span>
            <br />
            <input type="submit" class="fadeIn fourth" value="Xác nhận">
            <a asp-controller="User" asp-action="Login" class="fadeIn fourth">Quay lại</a>
        </form>
    </div>
</div>

