@model UserModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_LayoutLogin";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a asp-controller="User" asp-action="Login" class="inactive underlineHover fw-bold text-black">Sign In</a>
        <h2 class="active fw-bold">Sign Up </h2>

        <!-- Register Form -->
        <form asp-action="ConfirmRegister" method="post">
            <div asp-validation-summary="ModelOnly">
                <span>Điền vào thông tin cần thiết</span>
            </div>
            <input type="text" class="fadeIn second my-3" name="Username" placeholder="Tên đăng nhập">
            <span class="alert-danger" asp-validation-for="Username"></span>
            <input type="password" class="fadeIn third my-3" name="password" placeholder="Mật khẩu">
            <span class="alert-danger" asp-validation-for="Password"></span>
            <input type="password" class="fadeIn third my-3" name="passConfirm" placeholder="Nhập lại mật khẩu" />
            <span class="alert-danger">@ViewBag.Error</span>
            <input type="tel" class="fadeIn third my-3" name="Phonenumber" placeholder="Số điện thoại">
            <span asp-validation-for="PhoneNumber"></span>
            <input type="text" class="fadeIn third my-3" name="FullName" placeholder="Họ và tên">
            <span class="alert-danger" asp-validation-for="FullName"></span>
            <input class="alert-danger" type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
    </div>
</div>
