@{
    Layout = "_LayoutDS";
}

<div style="background: url('/assets/images/background_ds.png') no-repeat center center fixed; width: 100%; height: 100%; margin: 0;
      padding: 0; height: 100vh"
>
    <div class="d-flex justify-content-center align-items-center h-100 flex-column gap-4">
        <div class=" p-5 w-50 text-center font-weight-bold" style="border-radius: 20px; background: #009432;">
            <h2>Sân bóng phước hiệp</h2>
        </div>
        <div class="d-flex flex-column gap-4">
            <div class="d-flex gap-4">
                <span class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold" style="border-radius: 20px; background: #009432;">Sân 1</span>
                <a class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold text-decoration-none text-black" style="border-radius: 20px; background: #009432;">Đặt sân</a>
            </div>
            <div class="d-flex gap-4">
                <span class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold" style="border-radius: 20px; background: #009432;">Sân 2</span>
                <a class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold text-decoration-none text-black" style="border-radius: 20px; background: #009432;">Đặt sân</a>
            </div>
            <div class="d-flex gap-4">
                <span class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold" style="border-radius: 20px; background: #009432;">Sân 3</span>
                <a class=" d-block px-lg-5 py-lg-4  text-center font-weight-bold text-decoration-none text-black" style="border-radius: 20px; background: #009432;">Đặt sân</a>
            </div>
        </div>
    </div>
    
</div>